spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/restaurant
    username: restaurant
    password: restaurant
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

management:
  health:
    elasticsearch:
      enabled: false
    redis:
      enabled: false
    db:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

app:
  token:
    issuer: "restaurant-app"
    ttl-minutes: 30
    rotate-on-login: false
