spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurant
    username: restaurant
    password: restaurant
    # optional, dar ajută:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update     # Hibernate va crea/actualiza automat tabelele
    show-sql: true

# scoate asta dacă nu folosești userul default de la Spring Security
  security:
    user:
      name: admin
      password: 1234
  management:
    health:
      elasticsearch:
        enabled: false
      redis:
        enabled: false
      db:
        enabled: true
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: always

  mail:
    host: smtp.gmail.com
    port: 587
    username: odin.dining@gmail.com
    password: uvza whcd cayb hmdn
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    test-connection: false

app:
  token:
    issuer: "restaurant-app"
    ttl-minutes: 30
    rotate-on-login: false
  email:
    from: odin.dining@gmail.com
    verification:
      url: http://localhost:5173/verify-email
